@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Playfair Display", serif;
    box-sizing: border-box;
}

.navbar {
  transition: box-shadow 0.3s ease;
}

.navbar.scrolled {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


/* Partner Section */

.partners-section {
    padding: 20px;
    margin-top: 5rem;
  }

  .logos-slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 100vw;
  }

  .logos-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    animation: scroll 8s linear infinite;
  }

  .logos-item img {
    width: 150px;
    height: auto;
    object-fit: contain;
  }

  @keyframes scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .mt-36 {
    background-image: url('style/img/bg-hero.png');
    /* Tambahkan gaya lain sesuai kebutuhan */
}